<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.roamio">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:name="com.example.roamio.RoamioApp"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Roamio">

        <activity
            android:name="com.example.roamio.activities.ProfileActivity"
            android:theme="@style/Theme.Roamio.Signup"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name="com.example.roamio.activities.TripActivity"
            android:theme="@style/Theme.Roamio.Signup"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name="com.example.roamio.activities.ItineraryActivity"
            android:theme="@style/Theme.Roamio.Signup"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity android:name="com.example.roamio.activities.MyTripsActivity"
            android:theme="@style/Theme.Roamio.Signup"
            android:exported="false"/>

        <activity
            android:name="com.example.roamio.activities.AiTripPlannerActivity"
            android:theme="@style/Theme.Roamio.Signup"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name="com.example.roamio.activities.CreateTripActivity"
            android:theme="@style/Theme.Roamio.Signup"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapsApiKey}"/>

        <activity
            android:name="com.example.roamio.MainActivity"
            android:theme="@style/Theme.Roamio.Home"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.roamio.activities.LoginActivity"
            android:theme="@style/Theme.Roamio.Signup"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name="com.example.roamio.activities.SignupActivity"
            android:theme="@style/Theme.Roamio.Signup"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name="com.example.roamio.activities.NearbyActivity"
            android:theme="@style/Theme.Roamio.Home"
            android:exported="false" />

        <activity
            android:name="com.example.roamio.activities.MapActivity"
            android:theme="@style/Theme.Roamio.Home"
            android:exported="false" />

        <activity
            android:name="com.example.roamio.activities.ReviewActivity"
            android:theme="@style/Theme.Roamio.Signup"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

    </application>

</manifest>
